body{
    font-family: monospace;
    background-color: #d0f0c0;
}
#right{
    padding-top: 20px;
    float: right;
    
}
h3{
    text-align: center;
}
button{
    font-family: monospace;
    color: aliceblue;
    background-color: black;
}
#top{
    background-color: #63C94D;
    padding-top: 10px;
    padding-left: 20px;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
    padding-bottom: 10px;
}
#h{
    padding-left: 150px;
}
#hb{
    
}
#puzzle{
    padding-top: 40px;
    padding-left: 80px;
}
.tab button:hover {
    background-color: #d0f0c0;
  }
  
  /* Create an active/current tablink class */
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #d0f0c0;
    border-top: none;
  }