body{
    font-family: monospace;
    background-color: #d0f0c0;
}
#right{
    float: right;
    padding-top:30px;
    padding-right: 40px;
}
h3{
    text-align: center;
}
#top{
    background-color: #63C94D;
    margin: -8px;
    padding: 20px;
    display: flex;
}
#h{
    padding-left: 150px;
}
#ha{
    text-align:left;
    text-indent: 100px;
}
#puzzle{
    padding-top: 40px;
    padding-left: 80px;
}
.tabs{
    outline:none;
    border:none;
    float:right;
    font-family: monospace;
    cursor: pointer; 
    color:aliceblue;
    padding: 20px;
    display: block;
}
.tabs:hover{
    background-color: #8de37b;
}
.buttons{
    color: white;
    display: none;
    padding: 50px;
    text-align: center;
}
